<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}blog administration</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="wrapper">
            <div id="container">
                <h1>blog administration</h1>
                {% include('admin/menu.html.twig') %}
                {% block body %}{% endblock %}
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
