<ul>
    <li><a href="{{ path('adminIndex') }}">index</a></li>
    <li><a href="{{ path('adminArticleList') }}">article list</a></li>
    <li><a href="{{ path('adminArticleAdd') }}">article add</a></li>
</ul>